{% extends 'html/layouts/guest.html' %}
{% block content %}

    <main class="animate__animated animate__fadeIn animate__fast">
        <div class="container">
            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container animate__animated animate__fadeInUp animate__fast">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-8 d-flex flex-column align-items-center justify-content-center">
                            <div class="card mb-3 p-3">
                                <div class="card-body">
                                    <div class="pt-4 pb-2 animate__animated animate__fadeInUp animate__fast">
                                        <h5 class="card-title text-center pb-0 fs-4">Card Form</h5>
                                        <p class="text-center small">Enter your personal details</p>
                                    </div>
                                    <form
                                        class="row g-3 needs-validation animate__animated animate__fadeInUp animate__fast"
                                        validate>
                                        <div class="form-floating mb-3">
                                            <input class="form-control form-control-sm" id="firstName" type="text"
                                                placeholder="First Name" data-sb-validations="required" />
                                            <label for="firstName">First Name</label>
                                            <div class="invalid-feedback" data-sb-feedback="firstName:required">First
                                                Name
                                                is required.</div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control form-control-sm" id="middleName" type="text"
                                                placeholder="Middle Name" data-sb-validations="required" />
                                            <label for="middleName">Middle Name</label>
                                            <div class="invalid-feedback" data-sb-feedback="middleName:required">Middle
                                                Name
                                                is required.</div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control form-control-sm" id="lastName" type="text"
                                                placeholder="Last Name" data-sb-validations="required" />
                                            <label for="lastName">Last Name</label>
                                            <div class="invalid-feedback" data-sb-feedback="lastName:required">Last Name
                                                is
                                                required.</div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control form-control-sm" id="fullAddress" type="text"
                                                placeholder="Full Address" data-sb-validations="required" />
                                            <label for="fullAddress">Full Address</label>
                                            <div class="invalid-feedback" data-sb-feedback="fullAddress:required">Full
                                                Address is required.</div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control form-control-sm" id="contactNumber"
                                                type="text" placeholder="Contact Number"
                                                data-sb-validations="required" />
                                            <label for="contactNumber">Contact Number</label>
                                            <div class="invalid-feedback" data-sb-feedback="contactNumber:required">
                                                Contact
                                                Number is required.</div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control form-control-sm" id="emailAddress" type="email"
                                                placeholder="Email Address" data-sb-validations="required,email" />
                                            <label for="emailAddress">Email Address</label>
                                            <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email
                                                Address is required.</div>
                                            <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email
                                                Address Email is not valid.</div>
                                        </div>
                                        <div class=" mb-3">
                                            <input class="form-control form-control-lg" id="formFileSm" type="file">
                                            <div class="invalid-feedback" data-sb-feedback="emailAddress:required">File
                                                input is required.</div>
                                            <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email
                                                File input is not valid.</div>
                                        </div>
                                        <div class="d-none" id="submitSuccessMessage">
                                            <div class="text-center mb-3">
                                                <div class="fw-bolder">Form submission successful!</div>
                                            </div>
                                        </div>
                                        <div class="d-none" id="submitErrorMessage">
                                            <div class="text-center text-danger mb-3">Error sending message!</div>
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-lg" id="submitButton"
                                                type="submit">Submit</button>
                                        </div>
                                        <div
                                            class="col-12 animate__animated animate__headShake animate__infinite infinite animate__delay-5s	5s">
                                            <p class="small mb-0">Let's <a href="{{ url_for('login') }}">go back</a> to
                                                the
                                                homepage
                                            </p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>

{% endblock %}



