{% extends 'html/layouts/app.html' %}
{% block content %}

    <main id="main" class="main animate__animated animate__fadeIn">
        <div class="pagetitle">
            <nav>
                {% include 'html/components/breadcrumb.html' %}
                
            </nav>
        </div>
        <section class="section">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <livewire:users-table />
                    {# <livewire:user-table/> #}
                </div>
            </div>
        </section>
    </main>
    <!-- End #main -->

{% endblock %}



