{% extends 'html/layouts/app.html' %}
{% block content %}

    <main id="main" class="main animate__animated animate__fadeIn animate__fast">
        <div class="pagetitle">
            <h1>Buttons</h1>
            <nav>
                {% include 'html/components/breadcrumb.html' %}
                
            </nav>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Default Buttons</h5>
                            <x-button>Primary</x-button>
                            <x-button variant="secondary">Secondary</x-button>
                            <x-button variant="success">Success</x-button>
                            <x-button variant="danger">Danger</x-button>
                            <x-button variant="warning">Warning</x-button>
                            <x-button variant="info">Info</x-button>
                            <x-button variant="light">Light</x-button>
                            <x-button variant="dark">Dark</x-button>
                            <x-button variant="link">Link</x-button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Rounded Buttons</h5>
                            <x-button rounded>Primary</x-button>
                            <x-button variant="secondary" rounded>Secondary</x-button>
                            <x-button variant="success" rounded>Success</x-button>
                            <x-button variant="danger" rounded>Danger</x-button>
                            <x-button variant="warning" rounded>Warning</x-button>
                            <x-button variant="info" rounded>Info</x-button>
                            <x-button variant="light" rounded>Light</x-button>
                            <x-button variant="dark" rounded>Dark</x-button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Icon Buttons</h5>
                            <x-button icon="bi bi-star">With Text</x-button>
                            <x-button variant="secondary" icon="bi bi-collection" />
                            <x-button variant="success" icon="bi bi-check-circle" />
                            <x-button variant="danger" icon="bi bi-exclamation-octagon" />
                            <x-button variant="warning" icon="bi bi-exclamation-triangle" />
                            <x-button variant="info" icon="bi bi-info-circle" />
                            <x-button variant="dark" icon="bi bi-folder" />
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Button Groups</h5>
                            <div class="btn-group">
                                <x-button group>Left</x-button>
                                <x-button group>Middle</x-button>
                                <x-button group>Right</x-button>
                            </div>

                            <div class="btn-group">
                                <x-button group variant="danger">Left</x-button>
                                <x-button group variant="warning">Middle</x-button>
                                <x-button group variant="success">Right</x-button>
                            </div>

                            <div class="btn-group">
                                <x-button group variant="outline-primary">Left</x-button>
                                <x-button group variant="outline-primary">Middle</x-button>
                                <x-button group variant="outline-primary">Right</x-button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Outline Buttons</h5>
                            <x-button variant="outline-primary">Primary</x-button>
                            <x-button variant="outline-secondary">Secondary</x-button>
                            <x-button variant="outline-success">Success</x-button>
                            <x-button variant="outline-danger">Danger</x-button>
                            <x-button variant="outline-warning">Warning</x-button>
                            <x-button variant="outline-info">Info</x-button>
                            <x-button variant="outline-light">Light</x-button>
                            <x-button variant="outline-dark">Dark</x-button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Button Sizes</h5>
                            <x-button size="sm">Small</x-button>
                            <x-button variant="secondary">Normal</x-button>
                            <x-button variant="success" size="lg">Large</x-button>
                            <x-button variant="outline-danger" size="sm">Small</x-button>
                            <x-button variant="outline-warning">Normal</x-button>
                            <x-button variant="outline-info" size="lg">Large</x-button>

                            <div class="d-grid gap-2 mt-3">
                                <x-button block>Block Button</x-button>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Button States</h5>
                            <x-button>Normal</x-button>
                            <x-button disabled>Disabled</x-button>
                            <x-button variant="outline-primary">Normal</x-button>
                            <x-button variant="outline-primary" disabled>Disabled</x-button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}



