{% extends 'html/layouts/app.html' %}
{% block content %}

    <main id="main" class="main animate__animated animate__fadeIn animate__fast">
        <div class="pagetitle">
            <h1>ApexCharts</h1>
            <nav>
                {% include 'html/components/breadcrumb.html' %}
                
            </nav>
        </div>
        <p>ApexCharts Examples. You can check the <a href="https://apexcharts.com/javascript-chart-demos/"
                target="_blank">official website</a> for more examples.</p>
        <section class="section">
            <div class="row">
                @php
                    $lineSeries = [
                        [
                            'name' => 'Desktops',
                            'data' => [10, 41, 35, 51, 49, 62, 69, 91, 148],
                        ],
                    ];

                    $months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'];
                @endphp

                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Line Chart</h5>

                                <x-apex-chart id="lineChart" type="line" :series="$lineSeries" :categories="$months" />

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Area Chart</h5>

                                <x-apex-chart id="areaChart" type="area" :series="$lineSeries" :categories="$months"
                                    :options="[
                                        'stroke' => ['curve' => 'smooth'],
                                        'dataLabels' => ['enabled' => false],
                                    ]" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}



