{% extends 'html/layouts/app.html' %}
{% block content %}
    <main id="main" class="main animate__animated animate__fadeIn animate__fast">
        <div class="pagetitle">
            <h1>Sweet Alert 2</h1>
            <nav>
                {% include 'html/components/breadcrumb.html' %}
                
            </nav>
        </div>
        <p>SweetAlert2 Examples. You can check the <a href="https://sweetalert2.github.io/" target="_blank">official
                website</a> for more examples.</p>

        <section class="section">
            {# <x-swal2 type="success" title="Great job!" text="Your action was completed successfully." /> #}
            {# <x-swal2 type="error" title="Oops..." text="Something went wrong!" :showCancelButton="true"
                confirmButtonText="Try Again" /> #}
            {# <x-swal2 type="info" title="Processing..." :toast="true" :timer="3000" position="top-end" /> #}
            <x-swal2 type="warning" title="Please Confirm">
                <p>Are you sure you want to <strong>delete</strong> this record?</p>
                <p>This action cannot be undone.</p>
            </x-swal2>
        </section>
    </main>

{% endblock %}



