{% extends 'html/layouts/guest.html' %}
{% block content %}
    <main class="animate__animated animate__fadeIn animate__fast">
        <div class="container">
            {% include 'html/components/toasts.html' %}

            <section
                class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container animate__animated animate__fadeInUp animate__fast">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-md-10 d-flex flex-column align-items-center">
                            <div class="d-flex justify-content-center mb-3">
                                <a href="{{ url_for('admin_routes.dashboard_page') }}">
                                    <img src="{{ url_for('static', filename='assets/img/bsu-new-logo.png') }}" alt="Logo" style="width: 24rem; height: auto;">
                                </a>
                            </div>

                            <div class="card mb-3 w-100">
                                <div class="card-body">
                                    <div class="pt-4 pb-2 text-center">
                                        <h5 class="card-title pb-0 fs-4">Privacy Policy</h5>
                                        <p class="text-center small text-muted">Please read the policy carefully.</p>
                                    </div>

                                    <div class="policy-content">
                                        {{ policy | safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}



