{% set path = request.path.strip('/') %}
{% set segments = path.split('/') if path else [] %}
{% set ns = namespace(acc='') %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('admin_routes.dashboard_page') }}">Home</a></li>
    {% for segment in segments %}
        {% set ns.acc = ns.acc + '/' + segment %}
        {% if loop.last %}
            <li class="breadcrumb-item active" aria-current="page">
                {{ segment.replace('-', ' ').title() }}
            </li>
        {% else %}
            <li class="breadcrumb-item">
                <a href="{{ ns.acc }}">{{ segment.replace('-', ' ').title() }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ol>
