@props([
    'parentId' => 'accordionFlushExample',
    'items' => [],
])

<div class="accordion accordion-flush" id="{{ parentId }}">
    {% for item in items %}{% set index = loop.index0 %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading{{ index }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapse{{ index }}" aria-expanded="false"
                    aria-controls="flush-collapse{{ index }}">
                    {{ item['title'] }}
                </button>
            </h2>
            <div id="flush-collapse{{ index }}" class="accordion-collapse collapse"
                aria-labelledby="flush-heading{{ index }}" data-bs-parent="#{{ parentId }}">
                <div class="accordion-body">
                    {{ item['content'] }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
