@props([
    'name',
    'id' => null,
    'options' => [],
    'placeholder' => 'Select an option',
    'multiple' => false,
    'useCheckbox' => false, // Enable checkbox options
    'selected' => null, // Pass the selected value
])

@php
    $id = $id ?? $name;
@endphp

<select name="{{ name }}{{ multiple ? '[]' : '' }}" id="{{ id }}" class="form-select"
    {{ multiple ? 'multiple' : '' }}>
    <option value="" disabled {{ empty(selected) ? 'selected' : '' }}>{{ placeholder }}</option>
    {% for label in options %}{% set value = loop.index0 %}
        <option value="{{ value }}" {{ selected == value ? 'selected' : '' }}>{{ label }}</option>
    {% endfor %}
</select>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        new TomSelect('#{{ id }}', {
            placeholder: "{{ placeholder }}",
            allowEmptyOption: true,
            maxItems: {{ multiple ? 'null' : '1' }},
            items: @json($multiple ? (array) $selected : [$selected]), // Ensure selected value is shown
            {% if useCheckbox %}
                plugins: {
                    'checkbox_options': {
                        'checkedClassNames': ['ts-checked'],
                        'uncheckedClassNames': ['ts-unchecked']
                    }
                }
            {% endif %}
        });
    });
</script>

<style>
    /* Style for Tom Select Placeholder */
    .ts-control input {
        color: #6c757d !important;
        /* Bootstrap muted color */
        font-size: var(--font-size-input, 13px) !important;
    }
</style>
